{{ template "base" . }}

{{ define "content" }}
<h1>About</h1>
<p>
  Voluptate deserunt deserunt enim non irure mollit adipisicing aliqua qui
  nulla. Et amet minim dolor excepteur irure consequat ad proident dolor
  incididunt aliqua adipisicing dolor. Veniam pariatur voluptate esse voluptate
  ad incididunt labore non aute. Fugiat ullamco deserunt ad non dolor. Nulla ex
  enim eu est cupidatat. Nisi consequat labore ullamco sunt quis deserunt fugiat
  incididunt.
</p>
{{ end }}
