{{ template "base" . }}

{{ define "content" }}
<h1>Contact</h1>
<p>
  Est laborum nisi consequat incididunt nulla enim tempor consequat et nisi.
  Mollit consectetur et deserunt ut fugiat sunt. Ad voluptate ea officia velit
  magna veniam nulla laborum cillum ut proident duis reprehenderit proident.
  Laborum deserunt tempor reprehenderit elit consequat adipisicing anim amet eu
  amet voluptate. Labore enim occaecat nisi officia ipsum magna officia Lorem
  excepteur. Dolor esse culpa amet laboris enim. Deserunt labore elit esse
  cillum irure ut nulla do deserunt fugiat nisi commodo veniam.
</p>
{{ end }}
