{{ template "base" . }}

{{ define "content" }}
<h1>Home</h1>
<p>
  Pariatur culpa enim sunt est dolor ut. Dolor minim exercitation Lorem pariatur
  voluptate ad magna duis eu velit aliquip consectetur. Culpa eiusmod in officia
  aute qui sit laboris minim adipisicing excepteur dolor ullamco sunt. In quis
  deserunt ullamco consequat amet aute nisi consectetur sit. Lorem fugiat anim
  commodo eu dolor enim fugiat anim enim laboris.
</p>
{{ end }}
